@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Özellik Güncelleme</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Araba İşlemleri</a></li>
                    <li class="breadcrumb-item active">Özellik Güncelleme</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Araba Özelliği Güncelleme Formu</h4>
                <p class="card-subtitle mb-4"><code>Mevcut araba özelliklerini bu formu doldurarak güncelleyebilirsiniz. Özellikler ile ilgili bilgileri lütfen eksiksiz giriniz.</code></p>
                <form class="needs-validation" method="post">
                    <input type="hidden" asp-for="FeatureId" />
                    <div class="form-row">
                  
                        <div class="col-md-6 mb-6">
                            <label for="validationFeatureName">Özellik Adı</label>
                            <input type="text" class="form-control" asp-for="Name" id="validationFeatureName" required>

                        </div>
                    </div>
                  

                    <button class="btn btn-primary waves-effect waves-light mt-3" type="submit">Kaydet</button>
                </form>

            </div>
        </div>
    </div>

</div>



