@model UpdateTestimonialDto

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Referans Güncelleme</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Referans İşlemleri</a></li>
                    <li class="breadcrumb-item active">Referans Güncelleme</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Referans Güncelleme Formu</h4>
                <p class="card-subtitle mb-4"><code>Mevcut referansa ait olan bilgileri bu formu doldurarak güncelleyebilirsiniz. Referans ile ilgili bilgileri lütfen eksiksiz giriniz.</code></p>
                <form class="needs-validation" method="post">
                    <div class="form-row">
                        <input type="hidden" asp-for="TestimonialId"/>
                        <div class="col-md-12 mb-12">
                            <label for="validationName">Referans Adı</label>
                            <input type="text" class="form-control" asp-for="Name" id="validationName" required>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label for="validationTitle">Meslek</label>
                            <input type="text" class="form-control" asp-for="Title" id="validationTitle" required>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label for="validationImageUrl">Fotoğraf</label>
                            <input type="text" class="form-control" asp-for="ImageUrl" id="validationImageUrl" required>
                        </div>
                        <div class="col-md-12 mb-12">
                            <label for="validationComment">Yorum</label>
                            <textarea rows="5" class="form-control" asp-for="Comment" id="validationComment" required></textarea>
                        </div>
                    </div>


                    <button class="btn btn-primary waves-effect waves-light mt-3" type="submit">Referansı Güncelle</button>
                </form>

            </div>
        </div>
    </div>

</div>











