@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Kategori Güncelleme</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Kategori İşlemleri</a></li>
                    <li class="breadcrumb-item active">Kategori Güncelleme</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Kategori Güncelleme Formu</h4>
                <p class="card-subtitle mb-4"><code>Mevcut kategori adını bu formu doldurarak güncelleyebilirsiniz. Kategori ile ilgili isim bilgisini lütfen eksiksiz giriniz.</code></p>
                <form class="needs-validation" method="post">
                    <input type="hidden" asp-for="CategoryId" />
                    <div class="form-row">

                        <div class="col-md-6 mb-6">
                            <label for="validationName">Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="Name" id="validationName" required>
                        </div>

                    

                    </div>



                    <button class="btn btn-primary waves-effect waves-light mt-3" type="submit">Kategoriyi Güncelle</button>
                </form>

            </div>
        </div>
    </div>

</div>




