@model CreateLocationDto

@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Yeni Lokasyon Bilgisi Ekleme</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Lokasyon İşlemleri</a></li>
                    <li class="breadcrumb-item active">Yeni Lokasyon Bilgisi Ekleme</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Lokasyon Bilgisi Ekleme Formu</h4>
                <p class="card-subtitle mb-4">
                    <code>Ana sayfanın lokasyon alanında bulunan bilgilerin eklenmesi işlemini bu sayfa üzerinden yapabilirsiniz.</code>
                </p>
                <form class="needs-validation" method="post">
                    <div class="form-row">

                       

                        <div class="col-md-6 mb-6">
                            <label for="validationVideoName">Lokasyon Adı</label>
                            <input type="text" class="form-control" asp-for="Name" id="validationName" required>
                        </div>
                     
                    </div>


                    <button class="btn btn-primary waves-effect waves-light mt-3" type="submit">Lokasyonu Kaydet</button>
                </form>

            </div>
        </div>
    </div>

</div>











